<div class="modal-container">
  <div class="modal-header">
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #interviewForm="ngForm">
        <br>
        <div class="form-group">
          <label for="dateInterview">Interview Date and Time:</label>
          <input type="datetime-local" id="dateInterview" name="dateInterview" [(ngModel)]="interview.dateInterview" class="form-control" required>
          <div *ngIf="interviewForm.controls['dateInterview'].invalid && (interviewForm.controls['dateInterview'].dirty || interviewForm.controls['dateInterview'].touched)">
            <div class="text-danger" *ngIf="interviewForm.controls['dateInterview'].errors?.['required']">Interview Date and Time is required.</div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="statusInterview">Status:</label>
          <select id="statusInterview" name="statusInterview" [(ngModel)]="interview.statusInterview" class="form-control" required>
            <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="passed">Result:</label>
          <select id="passed" name="passed" [(ngModel)]="interview.passed" class="form-control" required>
            <option value="true">Passed</option>
            <option value="false">Failed</option>
          </select>
        </div>
        <br>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="interviewForm.invalid"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
          </svg></button>
          <button type="button" class="btn btn-danger" (click)="onClose()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
          </svg></button>
        </div>
      </form>
    </div>
  </div>
</div>
