<div class="modal-container">
  <div class="modal-header">
    <h2>Add New Project</h2>
  </div>
 
    <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
          <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
            <br>
  
            <div class="form-group">
              <label for="projectName">Project Title:</label>
              <input type="text" id="projectName" [(ngModel)]="newProject.projectName" name="projectName" class="form-control" required minlength="5">
              <div  *ngIf="projectForm.controls['projectName'].invalid && (projectForm.controls['projectName'].dirty || projectForm.controls['projectName'].touched)">
                <div class="text-danger" *ngIf="projectForm.controls['projectName'].errors?.['required']">Project Name is required.</div>
                <div class="text-danger" *ngIf="projectForm.controls['projectName'].errors?.['minlength']">Project Name must be at least 5 characters long.</div>
              </div>
            </div>
            <br>
  
            <div class="form-group">
              <label for="projectDescription">Project Description:</label>
              <textarea id="projectDescription" [(ngModel)]="newProject.projectDescription" name="projectDescription" class="form-control" required minlength="15"></textarea>
              <div  *ngIf="projectForm.controls['projectDescription'].invalid && (projectForm.controls['projectDescription'].dirty || projectForm.controls['projectDescription'].touched)">
                <div class="text-danger" *ngIf="projectForm.controls['projectDescription'].errors?.['required']">Description is required.</div>
                <div class="text-danger" *ngIf="projectForm.controls['projectDescription'].errors?.['minlength']">Description must be at least 15 characters long.</div>
              </div>
            </div>
            <br>
  
            <div class="form-group">
              <label for="startdateProject">Start Date:</label>
              <input type="date" id="startdateProject" [(ngModel)]="newProject.startdateProject" name="startdateProject" class="form-control" required>
              <div *ngIf="projectForm.controls['startdateProject'].invalid && (projectForm.controls['startdateProject'].dirty || projectForm.controls['startdateProject'].touched)">
                <div class="text-danger" *ngIf="projectForm.controls['startdateProject'].errors?.['required']">Start Date is required.</div>
                <div class="text-danger" *ngIf="!isValidStartDate()">Start Date must be today or later.</div>
              </div>
            </div>
            <br>
  
            <div class="form-group">
              <label for="enddateProject">End Date:</label>
              <input type="date" id="enddateProject" [(ngModel)]="newProject.enddateProject" name="enddateProject" class="form-control" required>
              <div *ngIf="projectForm.controls['enddateProject'].invalid && (projectForm.controls['enddateProject'].dirty || projectForm.controls['enddateProject'].touched)">
                <div class="text-danger" *ngIf="projectForm.controls['enddateProject'].errors?.['required']">End Date is required.</div>
                <div class="text-danger" *ngIf="!isValidEndDate()">End Date must be later than Start Date.</div>
              </div>
            </div>
            <br>
  
            <div class="form-group">
              <label for="projectStatus">Status:</label>
              <select id="projectStatus" [(ngModel)]="selectedProjectStatus" name="projectStatus" class="form-control" required>
                <option *ngFor="let status of statusOptions" [value]="status">
                  {{ status }}
                </option>
              </select>
            </div>
            <br>
      
            <br>
            <!-- <div class="form-group">
              <label class="btn btn-default p-0">
                <label for="file"> / File:</label>
                <input type="file" accept=".pdf,.doc,.docx" multiple (change)="selectFiles($event)" />
              </label>
            </div> -->
            <br>
  
  
    
            <div class="modal-footer"> 
              <button type="submit" class="btn btn-primary ">Add</button>
              <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
              <br>
  
            </div>
            <br>
  
          </form>
          <br>
        </div>
        </div>
      
   