h2 {
  animation: fadeInDown 1s ease-out forwards;
  text-align: center;
  font-size: 2.5rem;
  color: #08718e;
  font-weight: 500; /* Adjust weight as necessary */
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px; /* Slightly more spaced */
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Subtle text-shadow for depth */
  transition: text-shadow 0.3s ease; /* Smooth transition for shadow */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Example font */
}
h2::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 100px;
  background: #08718e;
  border-radius: 2px;
  margin-top: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease; /* Transition for hover effect */
}

/* Hover effect for the underline */
h2:hover::after {
  width: 150px; /* Underline grows on hover */
}
.custom-calendar {
  width: 1000px;
  /* Adjust the width as needed */
  height: 1000px;
  /* Adjust the height as needed */
}
.larger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 10%; /* Ensures the button appears as a circle */
}

.larger-button i {
  font-size: 35px; /* Adjust the icon size as needed */
}
.card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-icons a {
  margin: 0 5px; /* Adjust as needed */
}
.custom-btn-container {
  margin-right: 110px; /* Adjust this value to your desired position */
}

.pagination .btn {
  border-radius: 50%; /* Make the buttons circular */
  padding: 10px 15px; /* Adjust padding to ensure numbers are centered */
  font-size: 14px; /* Adjust font size as needed */
}

.pagination .btn.active {
  background-color: #086d88; /* Change the background color of the active page number */
  color: white; /* Change the text color of the active page number */
}
.btn-inter {
  position: fixed;
  top: 50%; /* Adjust if needed */
  right: 20px; /* Adjust the distance from the right side as needed */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Ensure it appears on top of other content */
}
/* Custom CSS to add space between buttons */
.btn-spacing {
  margin-left: 10px; /* Adjust the margin as needed */
}


