<div class="accordion-body"><table class="table table-bordered">
    <thead>
  
    <tr>
      <th scope="col">image</th>
      <th scope="col">  <img [src]=  "imageSrcs[1]" class="mr-2 img-fluid rounded" alt="Avatar Image"></th>
    </tr>
  
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">{{user.firstname}}</th>
    </tr>
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">{{user.lastname}}</th>
    </tr>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">{{user.email}}</th>
    </tr>
    <tr>
      <th scope="col">Adresse</th>
      <th scope="col">{{user.adresse}}</th>
    </tr>
    <tr>
      <th scope="col">Gender</th>
      <th scope="col">{{user.gender}}</th>
    </tr>
    <tr>
      <th scope="col">Phone Number</th>
      <th scope="col">{{user.phonenumber}}</th>
    </tr>
    <tr>
      <th scope="col">Birth Date</th>
      <th scope="col">{{user.birthdate}}</th>
    </tr>
    </thead>
  
  </table>
  </div>
  