<div class="accordion-body"><table class="table table-bordered">
    <thead>
  
 
  
    <tr>
      <th scope="col">Start Date</th>
      <th scope="col">{{leave.startdate}}</th>
    </tr>
    <tr>
      <th scope="col">End date</th>
      <th scope="col">{{leave.enddate}}</th>
    </tr>
    <tr>
      
      <th scope="col">Duration</th>
      <th scope="col">{{leave.duration}}</th>
    </tr>
    <tr>
      <th scope="col">Reason</th>
      <th scope="col">{{leave.reason}}</th>
    </tr>
    <tr>
      <th scope="col">Adresse</th>
      <th scope="col">{{leave.approved}}</th>
    </tr>

    </thead>
  
  </table>
  </div>
  