<div class="accordion-body"><table class="table table-bordered">
    <thead>
  
 
  
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">{{leave.date}}</th>
    </tr>
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">{{leave.duration}}</th>
    </tr>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">{{leave.reason}}</th>
    </tr>
    <tr>
      <th scope="col">Adresse</th>
      <th scope="col">{{leave.approved}}</th>
    </tr>

    </thead>
  
  </table>
  </div>
  