<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
<h2>CANDIDACIES</h2>
<br>
<br>
<div class="buttons-wrapper">
  <button mat-raised-button
          matTooltip="Candidates Statistics"  class="btn btn-primary mt-2" style="background-color: #08718e; color: white;" (click)="navigateToStatistics()">
    <i class="fa fa-pie-chart"></i>
  </button>
</div>
<div class="single_field" style="flex: 1; margin-left: 10px;">
  <input type="search" [(ngModel)]="searchtext" name="search" id="form1" class="form-control" placeholder="Search keyword" style="width: 100%; height: 40px; padding: 8px 12px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px;">
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let candidacy of getPaginatedItems()| filterJob:searchtext">
      <div class="card" style="background-color: white;">
        <div class="card-body">
          <h3 class="card-title d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
            <span style="margin-right: 20px;">{{ candidacy.candidateName }}</span>
            <span class="text-end">{{ candidacy.submissionDate | date }}</span>
          </h3>
          <p class="card-text">
            Email: <a href="mailto:{{ candidacy.email }}">
            {{ candidacy.email }}
            <ng-container *ngIf="candidacy.emailStatus === 'DELIVERABLE'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
              </svg>
            </ng-container>
            <ng-container *ngIf="candidacy.emailStatus === 'UNDELIVERABLE'">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
              </svg>
            </ng-container>
          </a>
          </p>
          <p class="card-text">
            Status Candidacy:
            <span *ngIf="candidacy.candidacystatus === -1" class="badge badge-pill badge-danger rounded-pill">Rejected</span>
            <span *ngIf="candidacy.candidacystatus === 0 || candidacy.candidacystatus === null" class="badge badge-dark rounded-pill" style="background-color: #ffc107 !important;">Pending</span>
            <span *ngIf="candidacy.candidacystatus === 1" class="badge badge-pill badge-info rounded-pill">Selected for Interview</span>
            <span *ngIf="candidacy.candidacystatus === 2" class="badge badge-pill badge-success rounded-pill">Hired</span>
          </p>
          <div class="card-footer">
            <a href="{{ candidacy.link }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <span class="icon-margin"></span>
            <a href="{{ candidacy.linkedin }}" target="_blank" class="fab fa-linkedin fa-lg"></a>
            <span class="icon-margin"></span>
            <a href="{{ candidacy.github }}" target="_blank"><i class="fab fa-github fa-lg"></i></a>
            <span class="icon-margin"></span>
            <a href="#" (click)="downloadAttachment($event, candidacy.cv)">
              <i class="fas fa-paperclip"></i>
            </a>
            <span class="icon-margin"></span>
            <a [routerLink]="['/back/findInterviewBack', candidacy.candidacy_id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-check-fill" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5m9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5m-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
              </svg></a>
            <span class="icon-margin"></span>
            <a (click)="openDetailModal(candidacy)">
              <i class="fas fa-info-circle"></i>
            </a>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- Pagination controls -->
<div class="d-flex justify-content-center">
  <div class="pagination">
    <button class="btn btn-primary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
      <i class="fa fa-chevron-left"></i> <!-- Left arrow icon -->
    </button>
    <!-- Display page numbers -->
    <ng-container *ngFor="let page of getPaginationNumbers()">
      <button class="btn btn-primary" [class.active]="page === currentPage" (click)="onPageChange(page)">
        {{ page }}
      </button>
    </ng-container>
    <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === getTotalPages()">
      <i class="fa fa-chevron-right"></i> <!-- Right arrow icon -->
    </button>
  </div>
</div>
