<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
<h2>CANDIDACIES</h2>
<br>
<br>
<div class="buttons-wrapper">
  <button class="btn btn-primary mt-2" style="background-color: #08718e; color: white;" (click)="navigateToStatistics()">
    <i class="fa fa-pie-chart"></i>
  </button>
</div>
<div class="single_field" style="flex: 1; margin-left: 10px;">
  <input type="search" [(ngModel)]="searchtext" name="search" id="form1" class="form-control" placeholder="Search keyword" style="width: 100%; height: 40px; padding: 8px 12px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px;">
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let candidacy of candidacies| filterJob:searchtext">
      <div class="card" style="background-color: white;">
        <div class="card-body">
          <h3 class="card-title d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
            <span style="margin-right: 20px;">{{ candidacy.candidateName }}</span>
            <span class="text-end">{{ candidacy.submissionDate | date }}</span>
          </h3>
          <p class="card-text">Email: <a href="mailto:{{ candidacy.email }}" style="text-decoration: underline;">{{ candidacy.email }}</a></p>
          <p class="card-text">Portfolio link: <a href="{{ candidacy.link }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
          <p class="card-text">LinkeIn Account: <a href="{{ candidacy.linkedin }}" target="_blank" class="fab fa-linkedin fa-lg"></a></p>
          <p class="card-text">GitHub Account: <a href="{{ candidacy.github }}" target="_blank"><i class="fab fa-github fa-lg"></i></a></p>
          <p class="card-text">Attachments: <a href="#" (click)="downloadAttachment($event, candidacy.cv)">
            <i class="fas fa-paperclip"></i>
          </a></p>
          <p class="card-text">Interview details: <a href="{{ candidacy.github }}" target="_blank"> <i class="far fa-calendar-alt"></i></a></p>
          <p class="card-text">
            Status Candidacy:
            <span *ngIf="candidacy.candidacystatus === -1" class="badge badge-pill badge-danger rounded-pill">Rejected</span>
            <span *ngIf="candidacy.candidacystatus === 0 || candidacy.candidacystatus === null" class="badge badge-dark rounded-pill" style="background-color: #ffc107 !important;">Pending</span>
            <span *ngIf="candidacy.candidacystatus === 1" class="badge badge-pill badge-info rounded-pill">Selected for Interview</span>
            <span *ngIf="candidacy.candidacystatus === 2" class="badge badge-pill badge-success rounded-pill">Hired</span>
          </p>
        </div>
<!--        <div class="d-flex justify-content-end mt-3">-->
<!--          <button class="btn btn-calender btn-lg custom-btn" data-bs-toggle="modal" data-bs-target="#calendarModal">-->
<!--            <i class="fas fa-calendar-alt"></i>-->
<!--          </button>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
