<!--<div class="d-flex justify-content-center mb-5">-->
<!--  <mat-form-field appearance="outline" class="w-75 mx-auto"> &lt;!&ndash; Utilisation de w-75 pour une largeur maximale de 75% &ndash;&gt;-->
<!--    <mat-label>Search activities</mat-label>-->
<!--    <input matInput [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChanged($event)">-->
<!--  </mat-form-field>-->
<!--</div>-->

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4" *ngFor="let event of events">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">{{ event.event_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ event.event_date | date:'medium' }}</h6>
        </div>
        <div class="card-body">
          <p class="card-text">{{ event.event_description }}</p>
          <p class="card-text"><strong>Place:</strong> {{ event.place }}</p>
          <p class="card-text"><strong>Average Rating:</strong> {{ event.averageRating }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Activities:</strong>
            <ul>
              <li *ngFor="let activity of event.Activitys">{{ activity.activity_name }}</li>
            </ul>
          </li>
          <li class="list-group-item"><strong>Registrations:</strong>
            <ul>
              <li *ngFor="let registration of event.RegistationEvents">{{ registration.user?.firstname }}</li>
            </ul>
          </li>
          <li class="list-group-item"><strong>Users:</strong>
            <ul>
              <li *ngFor="let user of event.users">{{ user.firstname }}</li>
            </ul>
          </li>
          <li class="list-group-item"><strong>Feedbacks:</strong>
            <ul>
              <li *ngFor="let feedback of event.feedbacks">{{ feedback.description }}</li>
            </ul>
          </li>
          <button (click)="generatePDF()" class="btn btn-success">Download as PDF</button>

        </ul>
      </div>
    </div>

  </div>
</div>
