<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <video autoplay loop muted id="video-background" poster="/assets/FrontOffice/img/header-backgroundjpg" playsinline>
        <source src="/assets/FrontOffice/img/header-background-video.mp4" type="video/mp4">
      </video>
      <!-- <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
              <h1 class="display-1 text-white mb-md-4 animated zoomIn">CoConsult: Ignite Your Potential, Fuel Your Success</h1>
          </div>
      </div> -->
    </div>
  </div>
</div>

