/* Amélioration des boutons sociaux */
.btn-sm-square {
  width: 35px;
  height: 35px;
  font-size: 16px; /* Augmenter la taille des icônes */
  transition: background-color 0.3s, transform 0.3s; /* Animation au survol */
}

.btn-sm-square:hover {
  background-color: #fff; /* Changement de couleur au survol */
  transform: scale(1.1); /* Légère augmentation de taille au survol */
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Amélioration de la typographie */
h1, h2, h3, h4, h5, p {
  font-family: 'Nunito', sans-serif; /* Utilisation de Nunito pour la typographie */
}

/* Footer élégant */
.footer-about {
  background-color: #222; /* Couleur de fond plus sombre pour le contraste */
  padding: 20px;
  color: #ddd; /* Texte plus clair pour le contraste */
}

/* Responsivité du topbar et navbar */
@media (max-width: 992px) {
  .custom-topbar, .navbar {
    display: block; /* Assurer l'affichage en bloc pour la responsivité */
  }
}

/* Style des liens rapides et populaires */
.link-animated a {
  display: block;
  color: #fff;
  transition: margin-left 0.5s; /* Animation pour l'effet sur le lien */
}

.link-animated a:hover {
  margin-left: 10px; /* Décalage à gauche au survol */
}

/* Texte du footer centralisé et responsive */
.container-fluid.text-white {
  text-align: center; /* Centrer le texte pour une meilleure lecture */
}

/* Centrer le formulaire de réinitialisation de mot de passe */
.reset-password-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;

  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.reset-password-container h2 {
  font-size: 15px; /* Taille de police pour le titre */
  color: #333; /* Couleur du texte plus foncée pour une meilleure lisibilité */
  margin-bottom: 15px; /* Espace sous le titre */
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
}
.reset-password-container label {
  font-weight: normal; /* Poids de la police normal pour un look plus moderne */
  color: #666; /* Couleur de texte subtile pour les étiquettes */
}

.reset-password-container input[type="password"], .reset-password-container button {
  border-radius: 6px; /* Bordures légèrement arrondies */
  border: 1px solid #cccccc; /* Bordure plus fine et plus subtile */
  box-shadow: none; /* Suppression des ombres internes pour un look plus propre */
  margin-left: 10px; /* Ajuster selon vos besoins pour décaler vers la droite */

}

.reset-password-container input[type="password"]:hover, .reset-password-container input[type="password"]:focus {
  border: 1px solid #007bff; /* Accentuation lors du survol ou du focus */
  box-shadow: 0 0 8px rgba(0,123,255,0.2); /* Ombre externe subtile pour le focus */
}
.reset-password-container button {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: white;
  text-transform: uppercase; /* Texte en majuscules pour une meilleure visibilité */
  padding: 12px 20px; /* Ajustement du rembourrage */
  font-size: 16px; /* Taille de la police du bouton */
  transition: all 0.3s ease; /* Transition fluide pour toutes les propriétés */
  margin-left: 10px; /* Assurer l'alignement avec le champ de texte */
}
.reset-password-container button:hover {
  background-color: #0056b3; /* Assombrissement du bouton lors du survol */
  box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Ombre plus prononcée pour un effet de surbrillance */
}

/* Responsive design pour le formulaire */
@media (max-width: 768px) {
  .reset-password-container {
    width: 90%; /* Adaptation plus large à de petits écrans */
    padding: 20px; /* Padding suffisant pour toucher */
  }
}
