<!-- <div *ngFor="let imagePath of screenshots">
    <img [src]="imagePath" alt="Screenshot">
  </div>
   -->

   <!-- screenshot-display.component.html -->
<!-- <div *ngFor="let imagePath of screenshots">
    <img [src]="imagePath" alt="Screenshot" width="50%" length="50%">
</div> -->


<div class="container">
    <select class="form-select" (change)="onSelectUser($event)">
      <option *ngFor="let user of users ?? []" [value]="user.userId">{{ user.firstname }}</option>
    </select>
    <div *ngIf="screenshots.length === 0" class="landing-box">
        No image to display
      </div>
    <div *ngIf="screenshots.length > 0" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let imagePath of screenshots; let i = index" class="carousel-item" [ngClass]="{ 'active': i === 0 }">
          <img [src]="imagePath" class="d-block w-100" alt="Screenshot">
        </div>
      </div>
      <!-- <div *ngFor="let attandance of attandances">
<p> hours : {{attandance.workedHours}}</p>
<p>id : {{attandance.employee?.userId}}</p>
      </div> -->
      <p> <mark>workedHours</mark> {{workedHoursemployee}}</p>
      <p> <mark>workedMinutes</mark> {{workedMinutesemployee}}</p>
      <button class="btn btn-primary" (click)="approve()">Approve Attendance</button>

      <button class="carousel-control-prev" type="button" data-bs-target=".carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target=".carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card comparison-card" [ngClass]="{ 'light-red': isSimilarityHigh(), 'light-green': isSimilarityLow() }" *ngIf="comparisonResult">
      <div class="card-body">
        <h5 class="card-title">Comparison Result</h5>
        <p class="card-text">{{ comparisonResult }}</p>
      </div>
    </div>
    
  </div>
  