<div class="modal-container">
  <div class="modal-header">
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #jobOfferForm="ngForm">
        <div class="row">
          <!-- Left part -->
          <div class="col-md-6">
            <br>
            <div class="form-group">
              <label for="titleJobOffer">Job Title:</label>
              <input type="text" id="titleJobOffer" name="titleJobOffer" [(ngModel)]="jobOffer.titleJobOffer" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['titleJobOffer'].invalid && (jobOfferForm.controls['titleJobOffer'].dirty || jobOfferForm.controls['titleJobOffer'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['titleJobOffer'].errors?.['required']">Title is required.</div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea id="description" name="description" [(ngModel)]="jobOffer.description" class="form-control" rows="4" required></textarea>
              <div *ngIf="jobOfferForm.controls['description'].invalid && (jobOfferForm.controls['description'].dirty || jobOfferForm.controls['description'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['description'].errors?.['required']">Description is required.</div>
              </div>
            </div>
            <br>

            <div class="form-group">
              <label for="jobLocation">Location:</label>
              <input type="text" id="jobLocation" name="jobLocation" [(ngModel)]="jobOffer.jobLocation" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['jobLocation'].invalid && (jobOfferForm.controls['jobLocation'].dirty || jobOfferForm.controls['jobLocation'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['jobLocation'].errors?.['required']">Location is required.</div>
              </div>
            </div>
            <br>

            <div class="form-group">
              <label for="applicationDeadLine">Application Deadline:</label>
              <input type="datetime-local" id="applicationDeadLine" name="applicationDeadLine" [(ngModel)]="jobOffer.applicationDeadLine" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['applicationDeadLine'].invalid && (jobOfferForm.controls['applicationDeadLine'].dirty || jobOfferForm.controls['applicationDeadLine'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['applicationDeadLine'].errors?.['required']">Application Deadline is required.</div>
              </div>
            </div>
            <br>

            <div class="form-group">
              <label for="experience">Experience:</label>
              <input type="text" id="experience" name="experience" [(ngModel)]="jobOffer.experience" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['experience'].invalid && (jobOfferForm.controls['experience'].dirty || jobOfferForm.controls['experience'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['experience'].errors?.['required']">Experience is required.</div>
              </div>
            </div>
            <br>
          </div>

          <!-- Right part -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="requiredSkills">Required Skills:</label>
              <input type="text" id="requiredSkills" name="requiredSkills" [(ngModel)]="jobOffer.requiredSkills" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['requiredSkills'].invalid && (jobOfferForm.controls['requiredSkills'].dirty || jobOfferForm.controls['requiredSkills'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['requiredSkills'].errors?.['required']">Required Skills are required.</div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="vacancy">Vacancy:</label>
              <input type="number" id="vacancy" name="vacancy" [(ngModel)]="jobOffer.vacancy" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['vacancy'].invalid && (jobOfferForm.controls['vacancy'].dirty || jobOfferForm.controls['vacancy'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['vacancy'].errors?.['required']">Vacancy is required.</div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="minsalary">Minimum Salary:</label>
              <input type="number" id="minsalary" name="minsalary" [(ngModel)]="jobOffer.minsalary" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['minsalary'].invalid && (jobOfferForm.controls['minsalary'].dirty || jobOfferForm.controls['minsalary'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['minsalary'].errors?.['required']">Minimum Salary is required.</div>
              </div>
            </div>
            <br>

            <div class="form-group">
              <label for="maxsalary">Maximum Salary:</label>
              <input type="number" id="maxsalary" name="maxsalary" [(ngModel)]="jobOffer.maxsalary" class="form-control" required>
              <div *ngIf="jobOfferForm.controls['maxsalary'].invalid && (jobOfferForm.controls['maxsalary'].dirty || jobOfferForm.controls['maxsalary'].touched)">
                <div class="text-danger" *ngIf="jobOfferForm.controls['maxsalary'].errors?.['required']">Maximum Salary is required.</div>
              </div>
            </div>
            <br>

            <div class="form-group">
              <label for="jobNature">Job Nature:</label>
              <select id="jobNature" name="jobNature" [(ngModel)]="jobOffer.jobNature" class="form-control" required>
                <option value="FULL_TIME">Full Time</option>
                <option value="PART_TIME">Part Time</option>
                <option value="INTERN">Intern</option>
              </select>
            </div>
            <br>

            <div class="form-group">
              <label for="jobCategory">Job Category:</label>
              <select id="jobCategory" name="jobCategory" [(ngModel)]="jobOffer.jobCategory" class="form-control" required>
                <option value="SoftwareDevelopment">Software Development</option>
                <option value="DataScience">Data Science</option>
                <option value="Security">Security</option>
                <option value="InfrastructureNetworking">Infrastructure & Networking</option>
                <option value="WebDevelopment">Web Development</option>
                <option value="Design">Design</option>
                <option value="ProjectManagement">Project Management</option>
                <option value="BusinessAnalysis">Business Analysis</option>
                <option value="ConsultingAndSales">Consulting & Sales</option>
              </select>
            </div>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="jobOfferForm.invalid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-danger" (click)="onClose()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
