<div class="modal-container">
  <div class="modal-header">
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #jobOfferForm="ngForm">
        <br>
        <div class="form-group">
          <label for="titleJobOffer">Job Title:</label>
          <input type="text" id="titleJobOffer" name="titleJobOffer" [(ngModel)]="jobOffer.titleJobOffer" class="form-control" required minlength="5">
          <div  *ngIf="jobOfferForm.controls['titleJobOffer'].invalid && (jobOfferForm.controls['titleJobOffer'].dirty || jobOfferForm.controls['titleJobOffer'].touched)">
            <div class="text-danger" *ngIf="jobOfferForm.controls['titleJobOffer'].errors?.['required']">Job Title is required.</div>
            <div class="text-danger" *ngIf="jobOfferForm.controls['titleJobOffer'].errors?.['minlength']">Job Title must be at least 5 characters long.</div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" [(ngModel)]="jobOffer.description" class="form-control" required minlength="15"></textarea>
          <div  *ngIf="jobOfferForm.controls['description'].invalid && (jobOfferForm.controls['description'].dirty || jobOfferForm.controls['description'].touched)">
            <div class="text-danger" *ngIf="jobOfferForm.controls['description'].errors?.['required']">Description is required.</div>
            <div class="text-danger" *ngIf="jobOfferForm.controls['description'].errors?.['minlength']">Description must be at least 15 characters long.</div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="postedDate">Posted Date:</label>
          <input type="date" id="postedDate" name="postedDate" [(ngModel)]="jobOffer.postedDate" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="applicationDeadLine">Application Deadline:</label>
          <input type="date" id="applicationDeadLine" name="applicationDeadLine" [(ngModel)]="jobOffer.applicationDeadLine" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="experience">Experience:</label>
          <input type="text" id="experience" name="experience" [(ngModel)]="jobOffer.experience" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="requiredSkills">Required Skills:</label>
          <input type="text" id="requiredSkills" name="requiredSkills" [(ngModel)]="jobOffer.requiredSkills" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="jobLocation">Job Location:</label>
          <input type="text" id="jobLocation" name="jobLocation" [(ngModel)]="jobOffer.jobLocation" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
          <label for="vacancy">Vacancy:</label>
          <input type="number" id="vacancy" name="vacancy" [(ngModel)]="jobOffer.vacancy" class="form-control" required min="1">
        </div>
        <br>
        <div class="form-group">
          <label for="minsalary">Minimum Salary:</label>
          <input type="number" id="minsalary" name="minsalary" [(ngModel)]="jobOffer.minsalary" class="form-control" required min="0">
        </div>
        <br>
        <div class="form-group">
          <label for="maxsalary">Maximum Salary:</label>
          <input type="number" id="maxsalary" name="maxsalary" [(ngModel)]="jobOffer.maxsalary" class="form-control" required min="0">
        </div>
        <br>
        <div class="form-group">
          <label for="jobNature">Job Nature:</label>
          <select id="jobNature" name="jobNature" [(ngModel)]="jobOffer.jobNature" class="form-control" required>
            <option *ngFor="let nature of jobNatureOptions" [value]="nature">{{ nature }}</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="jobCategory">Job Category:</label>
          <select id="jobCategory" name="jobCategory" [(ngModel)]="jobOffer.jobCategory" class="form-control" required>
            <option *ngFor="let category of jobCategoryOptions" [value]="category">{{ category }}</option>
          </select>
        </div>
        <br>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="jobOfferForm.invalid">Edit</button>
          <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
        </div>
        <br>
      </form>
      <br>
    </div>
  </div>
</div>
