<div class="container">
  <!-- <h2>Attendance Tracking</h2> -->

  <button (click)="startAttendance()" [hidden]="timerActive">Start</button>
  <!-- <app-screenshot></app-screenshot> -->

  <!-- <div *ngIf="startAttendanceSuccess" class="success-message">started successfully.</div> -->
  
  <button (click)="stopTimer()" [hidden]="!timerActive">Stop</button>
  <!-- <div *ngIf="stopAttendanceSuccess" class="success-message">stopped successfully.</div> -->
  
  <div id="timer">{{ formattedTime }}</div> 
</div>
