@import 'dhtmlx-gantt/codebase/dhtmlxgantt.css';
.gantt-chart{
    position: relative;
    width: 100%;
    height: 600px;
}
.navbar {
    background-color: #f0f0f0;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar li {
    display: inline-block;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
  }
  .pos{
    position: absolute;

    right: 700px;
}