<br>
<br>
<h2>Quiz Questions</h2>
<br>
<br>
<br>
  <div style="display: flex; align-items: center; margin-bottom: 20px;">
    <button mat-raised-button (click)="openAddQuizQuestionDialog()" style="height: 40px; font-size: 16px; background-color: #0a8bae; border-color: #0a8bae; border-radius: 10px; margin-right: 5px;">
      <i class="fas fa-plus"></i> Add Quiz Question
    </button>
    <div class="single_field" style="flex: 1; margin-left: 10px;">
      <input type="search" [(ngModel)]="searchtext" name="search" id="form1" class="form-control" placeholder="Search keyword" style="width: 100%; height: 40px; padding: 8px 12px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px;">
    </div>
  </div>
<div class="card-container">
  <ng-container *ngFor="let chunk of getPaginatedItems() | chunk: 4 | filterJob:searchtext">
    <div class="card-row">
      <div *ngFor="let question of chunk" class="flip-card" (click)="flipCard($event.target)">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h6>{{ question.question }}</h6>
          </div>
          <div class="flip-card-back">
            <ul>
              <li *ngFor="let option of question.options">
                {{ option.answer }} :
                <svg *ngIf="option.correct" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                </svg>
                <svg *ngIf="!option.correct" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </li>
            </ul>
            <button mat-mini-fab color="warn" (click)="deleteQuizQuestion(question.questionId)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="openEditQuizQuestionDialog(question)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<br>
<br>
<!-- Pagination controls -->
<div class="d-flex justify-content-center">
  <div class="pagination">
    <button class="btn btn-primary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
      </svg>
    </button>
    <!-- Display page numbers -->
    <ng-container *ngFor="let page of getPaginationNumbers()">
      <button class="btn btn-primary" [class.active]="page === currentPage" (click)="onPageChange(page)">
        {{ page }}
      </button>
    </ng-container>
    <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === getTotalPages()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg>
    </button>
  </div>
</div>
