
<div class="d-flex justify-content-center mb-5">
  <mat-form-field appearance="outline" class="w-75 mx-auto">
    <mat-label>Search </mat-label>
    <input matInput [(ngModel)]="searchQuery" (ngModelChange)="searchChanged.next($event)">
  </mat-form-field>
</div>
<div class="card-container">
  <div class="card" *ngFor="let session of filteredEvents; let i = index">
    <div class="card-body">
      <h5 class="card-title">{{ session.title }}</h5>
      <div class="time-info">
        <p><strong>Start date:</strong> {{ session.start_date | date: 'mediumDate' }} at {{ session.start_date | date: 'shortTime' }}</p>
        <p><strong>Finish date:</strong> {{ session.finish_date | date: 'mediumDate' }} at {{ session.finish_date | date: 'shortTime' }}</p>
        <p><strong>Capacity:</strong> {{ session.capacity }}</p>
        <span class="badge badge-online" *ngIf="session.typeTS === 'ONLINE'">ONLINE</span>
        <span class="badge badge-offline" *ngIf="session.typeTS === 'OFFLINE'">OFFLINE</span>
        <span class="badge badge-ongoing" *ngIf="session.tsStatus === 'ONGOING'">ONGOING</span>
        <span class="badge badge-planned" *ngIf="session.tsStatus === 'PLANNED'">PLANNED</span>
        <span class="badge badge-canceled" *ngIf="session.tsStatus === 'CANCELED'">CANCELED</span>
        <span class="badge badge-completed" *ngIf="session.tsStatus === 'COMPLETED'">COMPLETED</span>

      </div>
      <div class="card-actions">
        <button class="btn btn-info btn-icon" (click)="openDetailsModal(session)" aria-label="View details">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
               class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="m8.93 6.588-2.29.287-.082.380.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>



<!--details-->
<!--<ng-template #sessionDetails let-data="data">-->
<!--  <h2 mat-dialog-title>{{ data.title }}</h2>-->
<!--  <mat-dialog-content class="mat-typography">-->
<!--    <p><strong>Topic:</strong> {{ data.topic }}</p>-->
<!--    <p><strong>Start Date:</strong> {{ data.start_date }}</p>-->
<!--    <p><strong>Finish Date:</strong> {{ data.finish_date }}</p>-->
<!--    <p><strong>Capacity:</strong> {{ data.capacity }}</p>-->
<!--    <p><strong>Session Outline:</strong> {{ data.session_outline }}</p>-->
<!--    <p><strong>Expected Outcomes:</strong> {{ data.expected_outcomes }}</p>-->
<!--  </mat-dialog-content>-->
<!--  <mat-dialog-actions>-->
<!--    <button mat-button [mat-dialog-close]="true">Close</button>-->
<!--  </mat-dialog-actions>-->
<!--</ng-template>-->


<!-- Ajoutez ce bloc à la fin de votre HTML -->
<div class="modal-backdrop" *ngIf="isDetailsModalOpen" (click)="closeDetailsModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h4  class="modal-title" >Training Session Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeDetailsModal()"></button>
    </div>
    <div class="modal-body" *ngIf="selectedTrainingSession">
      <section class="session-info">
        <h5 style="text-align: center; color: blue;" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
        </svg> Basic Info</h5>
        <p><strong>Title:</strong> {{ selectedTrainingSession.title }}</p>
        <p><strong>Topic:</strong> {{ selectedTrainingSession.topic }}</p>
        <p><strong>Type:</strong> {{ selectedTrainingSession.typeTS }}</p>
        <p><strong>Status:</strong> {{ selectedTrainingSession.tsStatus }}</p>
      </section>
      <section class="session-details">
        <h5 style="text-align: center; color: blue;" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4m13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
        </svg> Audience & Capacity</h5>
        <p><strong>Target audience:</strong> {{ selectedTrainingSession.target_audience }}</p>
        <p><strong>Capacity:</strong> {{ selectedTrainingSession.capacity }}</p>
      </section>
      <section class="session-timing">
        <h5 style="text-align: center; color: blue;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
          <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
        </svg> Timing</h5>
        <p><strong>Start date:</strong> {{ selectedTrainingSession.start_date | date: 'mediumDate' }}</p>
        <p><strong>Finish date:</strong> {{ selectedTrainingSession.finish_date | date: 'mediumDate' }}</p>
        <p><strong>Place:</strong> {{ selectedTrainingSession.place }}</p>
      </section>
      <section class="session-content">
        <h5 style="text-align: center; color: blue;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5m0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
        </svg> Content</h5>
        <p><strong>Session outline:</strong></p>
        <div [innerHTML]="selectedTrainingSession.session_outline"></div>
        <p><strong>Expected Outcomes:</strong></p>
        <div [innerHTML]="selectedTrainingSession.expected_outcomes"></div>
      </section>
      <section class="session-content">
        <br>
        <h5 style="text-align: center; color: blue;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg> Registered Users:</h5>
        <ul *ngIf="selectedTrainingSession.users && selectedTrainingSession.users.length > 0">
          <li *ngFor="let user of selectedTrainingSession.users">
            {{ user.firstname }} {{ user.lastname }} ({{ user.email }})
          </li>
        </ul>
        <p *ngIf="!selectedTrainingSession.users || selectedTrainingSession.users.length === 0">No users registered.</p>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeDetailsModal()">Close</button>
    </div>
  </div>
</div>
<div class="pagination-settings">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>


