<div class="row">

    <div class="col-lg-6 col-xl-4" *ngFor="let users of leaves1 ">
      <div class="card card-default p-4">
        <a href="javascript:0" class="media text-secondary" data-toggle="modal" data-target="#modal-contact">
          <!-- Assuming you have a profile picture for each user -->

             <div class="media-body">
               <h5 class="mt-0 mb-2 text-dark">{{ users.duration }} {{ users.startdate }} {{ users.enddate }}</h5>
               <ul class="list-unstyled text-smoke text-smoke">
                 <li class="d-flex">
                   <i class="mdi mdi-map mr-1"></i>
                   <span>{{ users.duration }}</span>
                 </li>
                 <li class="d-flex">
                   <i class="mdi mdi-email mr-1"></i>
                   <span>{{ users.approved }}</span>
                 </li>
                 <!-- Assuming you have a phone property in the user object -->
             
            </ul>
            <button class="mb-1 btn btn-sm btn-primary" (click)="approuveLeave(users)">Approuve</button>
       <!--     <button class="mb-1 btn btn-sm btn-info" (click)="delete(users.userId)">delete</button> -->

          </div>
        </a>

      </div>
    </div>
  </div>