
<div class="card-body px-5 pb-5 pt-0">
    <h4 class="text-dark text-center mb-5">Update Acount</h4>
    <form [formGroup]="userForm" (ngSubmit)="updateuser()">
      <div class="row">
        <!-- Add the missing fields here -->

        <div class="form-group col-md-12 mb-4">
          <input type="text" class="form-control input-lg" formControlName="firstname" placeholder="First Name">
        </div>
        <div class="form-group col-md-12 mb-4">
          <input type="text" class="form-control input-lg" formControlName="lastname" placeholder="Last Name">
        </div>


        <div class="form-group col-md-12 mb-4">
          <input type="email" class="form-control input-lg" formControlName="email" placeholder="Email">
        </div>

        <div class="form-group col-md-12 mb-4">
          <input type="text" class="form-control input-lg" formControlName="adresse" placeholder="Address">
        </div>
        <div class="form-group col-md-12 mb-4">
          <input type="text" class="form-control input-lg" formControlName="phonenumber" placeholder="Phone">
        </div>



        <div class="form-group col-md-12 mb-4">
          <input type="date" class="form-control input-lg" formControlName="birthdate" placeholder="Date">
        </div>
        <div class="form-group col-md-12 mb-4">
          <select class="form-control input-lg" formControlName="gender" placeholder="Gender">
            <option *ngFor="let g of genderOptions" [value]="g.value">{{ g.label }}</option>
          </select>
        </div>
        <div *ngFor="let progressInfo of progressInfos" class="mb-2">
            <span>{{ progressInfo.fileName }}</span>
            <div class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progressInfo.value }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progressInfo.value + '%' }"
              >
                {{ progressInfo.value }}%
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <label class="btn btn-default p-0">
                <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
              </label>
            </div>


          </div>

        <div class="col-md-12">
          <div class="d-flex justify-content-between mb-3">

          </div>

          <button type="submit" class="btn btn-primary btn-pill mb-4">Update</button>


        </div>
      </div>
    </form>
  </div>

