<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Startup - Startup Website Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">

  <!-- Favicon -->
  <link href="/assets/FrontOffice/img/favicon.ico" rel="icon">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/assets/FrontOffice/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/FrontOffice/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/assets/FrontOffice/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/assets/FrontOffice/css/style.css" rel="stylesheet">
</head>
<body>
<!--    &lt;!&ndash; Spinner Start &ndash;&gt;-->
<!--    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
<!--        <div class="spinner"></div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Spinner End &ndash;&gt;-->

<app-screenshot></app-screenshot>

<header><app-header-front></app-header-front></header>

<main>
  <router-outlet></router-outlet>

</main>


<!-- Full Screen Search Start -->
<!-- <div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(31, 229, 51, 0.7);">
      <div class="modal-header border-0">
        <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px;">
          <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
          <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Full Screen Search End -->








<app-footer-front></app-footer-front>


<!-- Back to Top -->
<!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top" style="background-color: #fb6d1c; border-color: #fb6d1c;"><i class="bi bi-arrow-up"></i></a>-->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/FrontOffice/lib/wow/wow.min.js"></script>
<script src="/assets/FrontOffice/lib/easing/easing.min.js"></script>
<script src="/assets/FrontOffice/lib/waypoints/waypoints.min.js"></script>
<script src="/assets/FrontOffice/lib/counterup/counterup.min.js"></script>
<script src="/assets/FrontOffice/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Template Javascript -->
<script src="/assets/FrontOffice/js/main.js"></script>
</body>

</html>
