<div class="modal-container">
    <div class="modal-header">
      <h2>Suggestions details</h2>
    </div>

    <div class="modal-body" style="max-height: 600px; overflow-y: auto; ">
        <div class="container"  style="justify-content: center;">
        <ul>
            <li  >
                <p>{{ tasksCount }} tasks accomplished(Availability : {{ !isAvailable ? 'Oui' : 'Non' }})</p>
            </li>
        </ul>
    </div>
<div class="modal-footer"> 
    
    <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
  </div>
</div>
</div>