<link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
  <link href="/assets/BackOffice/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="/src/assets/BackOffice/plugins/simplebar/simplebar.css" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="/src/assets/BackOffice/plugins/nprogress/nprogress.css" rel="stylesheet" />




  <link href="/src/assets/BackOffice/plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />



  <link href="/src/assets/BackOffice/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />



  <link href="/src/assets/BackOffice/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />



  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">



  <link href="/src/assets/BackOffice/plugins/toaster/toastr.min.css" rel="stylesheet" />


  <!-- MONO CSS -->
  <link id="main-css-href" rel="stylesheet" href="/src/assets/BackOffice/css/style.css" />
<app-sidebar-back></app-sidebar-back>
