<div class="container">
  <h2>Attendance Declaration</h2>

  <table class="attendance-table">
    <thead>
      <tr>
        <th>Attendance ID</th>
        <th>Presence</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Worked Hours</th>
        <th>Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attendance of attendanceList">
        <td>{{ attendance.attendenceId }}</td>
        <td>{{ attendance.presence }}</td>
        <td>{{ attendance.start }}</td>
        <td>{{ attendance.end }}</td>
        <td>{{ attendance.workedHours }}</td>
        <td>{{ attendance.employee?.firstname }} {{ attendance.employee?.lastname }}</td>
      </tr>
    </tbody>
  </table>

</div>
