<div class="modal-container">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn custom-btn-color" (click)="openJitsiMeeting()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z"/>
      </svg>
    </button>
    <button type="button" class="btn btn-success" (click)="openUpdateModal(interview.interview_id)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
      </svg>
    </button>
    <button type="button" class="btn btn-danger" (click)="onClose()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
      </svg>
    </button>
  </div>
  <div class="modal-header">

    <div class="modal-body">
      <h3>Interview Details</h3>
      <p><b>Start Date:</b> {{ interview.dateInterview | date }}</p>
      <p><b>Candidate Name:</b> {{ interview.candidateName }}</p>
      <p><b>Candidate Email:</b> {{ interview.email }}</p>
      <p><b>Status Interview:</b> {{ interview.statusInterview }}</p>
      <p><b>Result interview:</b>
        <span *ngIf="interview.passed; else failed" class="badge badge-pill badge-success rounded-pill">Passed</span>
        <ng-template #failed>
          <span class="badge badge-pill badge-danger rounded-pill">Failed</span>
        </ng-template>
      </p>
      <br>
    </div>
  </div>
</div>
