<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/magnific-popup.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/themify-icons.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/nice-select.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/flaticon.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/gijgo.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/animate.min.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/slicknav.css">
<link rel="stylesheet" href="/assets/FrontOffice/JobOffer/css/style.css">


<div class="container">
  <div class="wishlist-container">
    <h2>Your Wishlist</h2>

    <div *ngIf="wishlist.length === 0; else wishlistItems" class="empty-wishlist">
      Your wishlist is empty.
    </div>

    <ng-template #wishlistItems>

      <div class="job_listing_area plus_padding" style="background-color: white;">
        <div *ngIf="wishlist.length > 0" class="wishlist-actions d-flex justify-content-end">
          <button mat-raised-button
                  matTooltip="Clear wishlist" (click)="clearWishlist()" class="btn btn-danger clear-wishlist-btn buttons-wrapper">
            <i class="fa fa-trash"></i>
          </button>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div *ngFor="let jobOffer of getPaginatedItems()" class="job_lists m-0">
                <div class="single_jobs white-bg d-flex justify-content-between" style="border: 1px solid #049565;">
                  <div class="jobs_left d-flex align-items-center">
                    <div class="thumb">
                      <!-- Use the actual image source if available -->
                      <img src="/assets/FrontOffice/JobOffer/img/svg_icon/1.svg" alt="">
                    </div>
                    <div class="jobs_conetent">
                      <a [routerLink]="['/home/job-offer-details', jobOffer.jobOffer_id]"><h4>{{ jobOffer.titleJobOffer }}</h4><h6>{{ jobOffer.jobCategory }}</h6></a>
                      <div class="links_locat d-flex align-items-center">
                        <div class="location">
                          <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                            <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                          </svg> {{ jobOffer.jobLocation }}</p>
                        </div>
                        <div class="location">
                          <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
                          </svg> {{ jobOffer.jobNature }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jobs_right">
                    <div class="apply_now">
                      <button mat-raised-button
                              matTooltip="Remove from wishlist"(click)="removeFromWishlist(jobOffer)" class="btn heart_mark remove-from-wishlist btn-danger"> <i class="fa fa-trash"></i> </button>
                      <!-- Add a button/link to view the job offer details -->
                      <a [routerLink]="['/home/job-offer-details', jobOffer.jobOffer_id]" class="boxed-btn3">Apply Now</a>
                    </div>
                    <div class="date">
                      <p>Date line: {{ jobOffer.applicationDeadLine }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-template>


    <div class="d-flex justify-content-center">
      <div class="pagination-container">
        <button class="btn btn-primary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
          <i class="fas fa-chevron-left"></i> <!-- Icon for "Previous" -->
        </button>
        <button class="btn btn-primary" *ngFor="let page of getPaginationNumbers()" (click)="onPageChange(page)" [class.active]="currentPage === page">{{ page }}</button>
        <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === Math.ceil(wishlist.length / itemsPerPage)">
          <i class="fas fa-chevron-right"></i> <!-- Icon for "Next" -->
        </button>
      </div>
    </div>

    <br>

  </div>
</div>


<!-- link that opens popup -->
<!-- JS here -->
<script src="/assets/FrontOffice/JobOffer/js/owl.carousel.min.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/isotope.pkgd.min.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/ajax-form.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/waypoints.min.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/scrollIt.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/wow.min.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/nice-select.min.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/plugins.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/range.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/contact.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/mail-script.js"></script>
<script src="/assets/FrontOffice/JobOffer/js/main.js"></script>
<style>

  .clear-wishlist-btn:hover {
    background-color: #d9534f; /* Darker red on hover */
  }
  .job_listing_area.plus_padding {
    background-color: white;
  }

</style>
