<div class="page-wrapper" style="min-height: 715px;">

  <div class="content container-fluid pb-0">
  
  <div class="page-header">
  <div class="row align-items-center">
  <div class="col">
  <h3 class="page-title">Projects</h3>
  <ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="https://smarthr.dreamstechnologies.com/html/template/admin-dashboard.html"><strong>Project</strong></a></li>
  <li class="breadcrumb-item active"><strong>Task</strong></li>
  </ul>
  </div>
  </div>
  </div>
  
  <div class="row filter-row" data-select2-id="select2-data-25-1fag">
    <div class="col-sm-6 col-md-3">
    <div class="input-block mb-3 form-focus">
    <input type="text" class="form-control floating "   placeholder="Search For Task..." [(ngModel)]="searchtext">
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <a  class="btn btn-success w-100" > Search </a>
    </div>
    </div>


    <div id="dataTable" class="table-responsive">
      <div class="mat-elevation-z8">
      <table class="table table-striped custom-table datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" matSort (matSortChange)="sortData($event)"  style="width:100%" >
        
<thead>
          <tr role="row">
            <th></th>
            <th >Task Description</th>
            <th  >Status</th>
            <th  tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Priority: activate to sort column ascending" style="width: 123.512px;">Priority</th>
            <th mat-sort-header="quantity">Assigned To</th>
            <th mat-sort-header="unitPrice">Start Date</th>
            <th mat-sort-header="totalAmount">Deadline</th>
            <th ></th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd" *ngFor="let task of getDisplayedProjects() | filtertaskpipe:searchtext;" (click)="onRowClick(task)"style="cursor: pointer;">
<td></td>
            <td>{{ task.taskDescription }}</td>
            <td><span class="badge badge-online " *ngIf="task.taskStatus === 'INPROGRESS'">ONGOING</span>
              <span class="badge badge-planned" *ngIf="task.taskStatus === 'TODO'">PLANNED</span>
              <span class="badge badge-offline" *ngIf="task.taskStatus === 'CANCELLED'">CANCELED</span>
              <span class="badge badge-completed" *ngIf="task.taskStatus === 'COMPLETED'">COMPLETED</span></td>            <td >  
              <span class="badge badge-online " *ngIf="task.priority === 'LOW'">LOW</span>
              <span class="badge badge-planned" *ngIf="task.priority === 'MEDUIM'">MEDUIM</span>
              <span class="badge badge-offline" *ngIf="task.priority === 'HIGH'">HIGH</span>
            
            
            
            </td>            <td><ul class="team-members">
              <li>
                <a data-bs-toggle="tooltip" [title]="task.employeeTask ? (task.employeeTask.firstname + ' ' + task.employeeTask.lastname) : 'Unknown'">
                  <img src="assets/BackOffice/profiles/avatar-16.jpg" class="task-avatar" width="24" height="24" alt="User Image">
              </a>              </li>
              </ul></td>
            <td>{{ task.startDateTask | date}}</td>
            <td>{{ task.dueDateTask | date }}</td>
            <td >
              <button mat-icon-button style=" color: #fb6d1c"*ngIf="selectedInvoice === task" (click)="updateTask(task)">
              <mat-icon *ngIf="showEditIcon(task)">edit</mat-icon>
            </button>
            <button mat-icon-button style=" color:#F44336"*ngIf="selectedInvoice === task" (click)="deleteTask(task.taskid)" >
              <mat-icon *ngIf="showDeleteIcon(task)">delete</mat-icon>
            </button>
    
          </td>
            
            
          </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[2, 4, 6]"
      showFirstLastButtons
      >
</mat-paginator>
  </div>
    </div>
    <br>
    <app-piecharttask></app-piecharttask>







  </div>
</div>