<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V8</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->    
    <link rel="icon" type="image/png" href="/assets/BackOffice/Login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/BackOffice/Login/assets/BackOffice/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/BackOffice/Login/assets/BackOffice/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/BackOffice/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->    
    <link rel="stylesheet" type="text/css" href="/assets/BackOffice/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/BackOffice/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/BackOffice/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->    
    <link rel="stylesheet" type="text/css" href="/assets/BackOffice/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <!-- Replace the existing form with the Angular component -->
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" (ngSubmit)="initiatePasswordReset()">
                    <span class="login100-form-title">
                      Forgot Password
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter valid email">
                      <input class="input100" type="email" id="email" name="email" [(ngModel)]="email" placeholder="Enter your email address" required>
                      <span class="focus-input100"></span>
                  </div>
                   <!-- Add reCAPTCHA here -->
                <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptcha"
                required>
            </ngx-recaptcha2>
            <br>
                


                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Sign in
                        </button>
                    </div>
                   
<br>
                   
                </form>
                <!-- End of login form -->
            </div>
        </div>
    </div>



</body>
</html>
