:root {
  --color-light-blue: #d6e4e4;
  --color-dark-blue: #08718e;
  --color-bright-orange: #fa7022;
  --color-soft-blue: #63a5ac;
  --color-vibrant-green: #11966e;
  --color-soft-green: #75c0ae;
  --color-dark-green: #719237;
  --color-navy-blue: #3c7ea5;
  --color-pale-blue: #7fadc4;
  --color-red: red;
}

.card {
  border: 0;
}

.card-header {
  background-color: var(--color-dark-blue);
  color: #fff;
}


.card-body {
  background-color: #fff;
  border-left: 5px solid var(--color-soft-green);
}

.card-footer {
  background-color: var(--color-light-blue);
}

.btn-outline-secondary {
  color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.btn-outline-secondary:hover {
  background-color: var(--color-dark-blue);
  color: #fff;
}

.btn-outline-danger {
  color: var(--color-bright-orange);
  border-color: var(--color-bright-orange);
}

.btn-outline-danger:hover {
  background-color: var(--color-bright-orange);
  color: #fff;
}
.btn-success {
  background-color: var(--color-vibrant-green) !important;
  border-color: var(--color-dark-green) !important;
  color: white !important;
}
.btn-add-activity {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #08718e;
  color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 50px; /* Adjust width to match the Excel button */
  height: 50px; /* Adjust height to match the Excel button */
  font-size: 2rem; /* Adjust font-size if the plus is text */
  line-height: 50px; /* Center the plus vertically if it's text */
  text-align: center; /* Center the plus horizontally */
  border-radius: 50%; /* Optional: makes the button circular */
  padding: 0; /* Adjust or remove padding if necessary */

}
.btn-add-activityExcell {
  position: fixed;
  right: 100px;
  bottom: 20px;
  background-color: #75c0ae;
  color: white;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 50px; /* Adjust width to match the Excel button */
  height: 50px; /* Adjust height to match the Excel button */
  font-size: 2rem; /* Adjust font-size if the plus is text */
  line-height: 50px; /* Center the plus vertically if it's text */
  text-align: center; /* Center the plus horizontally */
  padding: 0; /* Adjust or remove padding if necessary */

}

/* Hover effect */
.btn-add-activityExcell:hover {
  background-color: #17C490; /* Darken button color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
  transform: translateY(-3px); /* Move button up slightly on hover */
}

/* Active state when clicked */
.btn-add-activityExcell:active {
  transform: translateY(-1px); /* Slight move down when clicked */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* Reduce shadow when clicked */
}


.btn-add-activity:hover {
  background-color: #fa7022;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  filter: brightness(85%);
}

.btn-calender {
  position: fixed;
  right: 130px;
  bottom: 20px;
  background-color: #08718e;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.btn-calender:hover {
  background-color: #fa7022;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.card-title {
  color: black !important;
}
.activity-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: var(--animation-delay);
}
.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.paginator-button {
  background-color: #08718e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginator-button:hover {
  background-color: #06536b;
}

.paginator-button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Override Angular Material styles */
.mat-paginator-range-actions {
  display: flex;
  align-items: center;
}

.mat-paginator {
  padding: 0;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  animation: fadeInDown 1s ease-out forwards;
  text-align: center;
  font-size: 2.5rem;
  color: #08718e;
  font-weight: 500; /* Adjust weight as necessary */
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px; /* Slightly more spaced */
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Subtle text-shadow for depth */
  transition: text-shadow 0.3s ease; /* Smooth transition for shadow */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Example font */
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 100px;
  background: #08718e;
  border-radius: 2px;
  margin-top: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease; /* Transition for hover effect */
}

/* Hover effect for the underline */
h2:hover::after {
  width: 150px; /* Underline grows on hover */
}


#map {
  height: 400px;
}
.error-message {
  color: red;
}

.alert-red {
  color: white; /* Text color */
  background-color: red; /* Background color */
  padding: 0.75rem 1.25rem; /* Padding inside the alert box */
  margin-top: 1rem; /* Space above the alert box */
  border-radius: 0.25rem; /* Rounded corners for the alert box */
}

/* Add this to your component's CSS file */
#addEventModal input[type="text"] {
  /* Adjust the style as needed */
  padding: 0.375rem 0.75rem; /* Bootstrap's default padding for input */
  font-size: 1rem; /* Standard font size */
  line-height: 1.5; /* Standard line height */
  color: #495057; /* Default text color */
  background-color: #fff; /* White background */
  background-clip: padding-box; /* Default background clip */
  border: 1px solid #ced4da; /* Standard border */
  border-radius: 0.25rem; /* Rounded corners */

  /* Add some Bootstrap classes for consistency */
  /* Or just add these classes directly to your input in the HTML */
}

/* If you need to apply this style only when the modal is open to avoid affecting other inputs */
.modal-open #addEventModal input[type="text"] {
  /* The same styling rules as above */
}
#updateMap {
  height: 400px; /* Ensure there's a minimum height */
}
/* Styles for the star rating component */
.star-rating {
  font-size: 24px; /* Adjust the font size as needed */
}

.star-rating mat-icon {
  color: #ccc; /* Default color of the stars */
  cursor: pointer;
}
.bi-star, .bi-star-fill {
  color: #f0ad4e; /* Couleur des étoiles */
}
/* In your component's CSS file */

.filled_star {
  color: gold; /* or any color you want for filled stars */
}

.empty_star {
  color: lightgray; /* or any color you want for empty stars */
}
.material-icons {
  color: gold;
}
.event-card {
  transition: transform .2s; /* Animation */
}

.event-card:hover {
  transform: scale(1.05); /* Zoom légèrement au survol */
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating label {
  cursor: pointer;
  font-size: 2em;
  color: #ffc107; /* Couleur des étoiles */
}

.rating input {
  display: none;
}
.event-card {
  display: flex;
  flex-direction: column;
}

.event-card .card-body {
  flex: 1; /* Stretch card body to take available space */
}

.read-more {
  cursor: pointer;
  color: #007bff;
}

.read-more:hover {
  text-decoration: underline;
}
/* Bouton Edit */






.btn-delete:hover, .btn-delete:focus {
  background-color: #c82333; /* Rouge foncé au survol/sélection */
  border-color: #bd2130; /* Bordure rouge foncé */
}

/* Effets communs (optionnel) */


.btn-edit:active, .btn-delete:active {
  transform: scale(0.98); /* Légère réduction de taille pour simuler un clic */
}
.modal-header {
  border-bottom: 1px solid #eeeeee;
  background-color: #f7f7f7;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.star-rating {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.star-rating mat-icon {
  cursor: pointer;
  margin: 0 5px;
  color: #ffdd00; /* Couleur jaune pour les étoiles */
  font-size: 24px; /* Taille plus grande pour les étoiles */
}
#addMapContainer {
  height: 400px; /* Exemple de hauteur, ajustez selon vos besoins */
}
.star-rating mat-icon.selected {
  color: #ffac00; /* Couleur plus foncée pour les étoiles sélectionnées */
}

.star-rating mat-icon:hover {
  color: #ffc107; /* Couleur au survol */
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement */
}
.btn-primary, .btn-secondary, .btn-edit, .btn-delete {
  font-size: 16px; /* Taille de police */
  border-radius: 25px; /* Bords arrondis */
  padding: 10px 20px; /* Espacement interne */
  transition: all 0.2s; /* Transition douce pour les interactions */
}

/* Couleurs spécifiques pour les boutons d'édition et de suppression, si désiré */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400; /* Adjusted for font-weight normalization */
  line-height: 1.5;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.15s ease;*/
  user-select: none;
  border: 1px solid transparent;
  color: #495057; /* Default text color */
  background-color: #f8f9fa; /* Light background to ensure visibility */
  margin: 0.25rem; /* Spacing around buttons */
}
.btn.icon-only {
  padding: 0.375rem; /* Adjust the padding to your preference */
}

/*.btn:hover {*/
/*  opacity: 0.8; !* Slight transparency on hover for feedback *!*/
/*  background-color: #007bff; !* Change background color on hover *!*/
/*  transform: scale(1.02); !* Slight increase in size *!*/
/*}*/
.btn svg {
  fill: black; /* SVG takes the color of the text */
}

/* If the buttons are initially hidden, this will ensure they're visible */
.btn {
  visibility: visible; /* Override any inherited visibility property */
  color: black; /* Default color */
}

@media (max-width: 768px) {
  .btn {
    padding: 0.25rem 0.5rem; /* Smaller padding on smaller screens */
    font-size: 0.875rem; /* Smaller font size on smaller screens */
    gap: 0.25rem; /* Smaller gap on smaller screens */
  }
}
.btn-edit {
  background-color: var(--color-vibrant-green);
  color: white;
}
.btn-edit:hover {
  background-color: #F98644;
  border-color: #fa7022;
}
.btn-delete {
  background-color: var(--color-red);
  color: white;
}

.btn-delete:hover {
  background-color: red;
  border-color: red;
}

.btn-primary, .btn-secondary {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
}


.star-rating mat-icon.selected {
  color: #ffc107;
}
textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
  line-height: 1.5;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
}
/* Styles supplémentaires pour le formulaire de recherche */
.search-form {
  max-width: 800px; /* Largeur maximale du formulaire pour éviter qu'il ne soit trop étendu sur les grands écrans */
  margin: 20px auto; /* Centrer le formulaire sur la page avec une marge */
  padding: 20px; /* Un peu d'espace à l'intérieur du formulaire */
  background: var(--color-light-blue); /* Couleur de fond du formulaire */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner de la profondeur */
  border-radius: 8px; /* Bords arrondis */
}

.search-form input[type="text"],
.search-form input[type="date"] {
  width: 100%; /* Utilisez la largeur complète dans le formulaire */
  margin-bottom: 10px; /* Espace entre les champs */
  border: 2px solid var(--color-navy-blue); /* Bordure un peu plus épaisse pour les champs */
  padding: 10px 15px; /* Un peu plus d'espace intérieur pour faciliter la saisie */
  border-radius: 5px; /* Bords légèrement arrondis pour les champs de saisie */
  font-size: 1rem; /* Taille de police adaptée */
}
/* Styles spécifiques pour le bouton de recherche */
.search-form button {
  background-color: var(--color-dark-blue); /* Couleur de fond bleu foncé */
  color: black; /* Texte en blanc pour contraster avec le fond sombre */
  border: none; /* Pas de bordure pour un look plus épuré */
  padding: 10px 20px; /* Espace intérieur suffisant pour cliquer facilement */
  margin-left: 10px; /* Espacement à gauche pour le séparer des champs de saisie */
  font-size: 1rem; /* Taille de police standard */
  font-weight: bold; /* Texte en gras pour attirer l'attention */
  border-radius: 5px; /* Bords arrondis pour un look moderne */
  cursor: pointer; /* Change le curseur en main pour indiquer qu'il s'agit d'un bouton cliquable */
  transition: background-color 0.2s; /* Effet de transition doux lors du survol */
}

.search-form button:hover {
  background-color: var(--color-bright-orange); /* Changement de couleur au survol */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée pour donner du relief au bouton */
}

.search-form button:active {
  background-color: var(--color-navy-blue); /* Couleur plus foncée lors du clic */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Ombre portée moins prononcée pour l'effet de clic */
}
.input-emoji-container .textarea-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* Adjust to your form spacing */
}

.input-emoji-container .form-control {
  flex-grow: 1;
  padding-right: 2.5rem; /* Make space for the button */
}

.input-emoji-container .emoji-button {
  position: absolute;
  right: 10px; /* Adjust this value as needed to move the button a bit to the left */
  top: 25px;
  border: none;
  background: transparent;
  cursor: pointer;

}
.input-emoji-container {
  position: relative;
}

.input-emoji-container .emoji-picker-container {
  position: absolute;
  right: 0;
  top: 100%; /* Adjust this value as needed to position the picker */
  z-index: 100;
}

.emoji-input-container {
  position: relative;
}

.input-group {
  display: flex;
}

.emoji-button {
  position: absolute;
  right: 20px;
  top: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.emoji-picker-container {
  position: absolute;
  right: 0;
  top: 100%; /* Adjust this value as needed to position the picker */
  z-index: 100;
}

textarea.form-control {
  padding-right: 40px; /* Make space for emoji button inside textarea */
}

