<!--warning add -->
<div class="modal fade" #warningSuccessModal tabindex="-1" aria-labelledby="warningSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningSuccessModalLabel">Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ warningMessage }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--warning add -->
<!-- Confirmation Modal -->
<div #deleteConfirmationModal class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this activity?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeletion()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- Confirmation Modal -->

<div class="container mt-4">
  <h2>Activity</h2>
  <div class="row">
    <div class="col">
      <button class="btn btn-add-activity mb-3 float-right" data-bs-toggle="modal" data-bs-target="#addActivityModal">
        <i class="bi bi-plus"></i>
      </button>
    </div>
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Search activities</mat-label>
      <input matInput [(ngModel)]="searchTerm" (ngModelChange)="filterActivities()">
    </mat-form-field>
    <!-- Cartes d'activité -->

    <div class="row">
      <div class="col-md-4" *ngFor="let activity of filteredActivities ; let i = index">
        <div class="card event-card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title" >{{ activity.activity_name }}</h5>
          </div>
          <div class="card-body" style="border-left: 5px solid var(--color-soft-green);">
            <p class="card-text">{{ expandedDescriptions[activity.activity_id] ? activity.description : (activity.description | slice:0:maxLength) }}
              <button *ngIf="isDescriptionTooLong(activity.description)" class="btn btn-link p-0" (click)="toggleDescription(activity.activity_id)">
                {{ expandedDescriptions[activity.activity_id] ? 'Read Less' : 'Read More' }}
              </button>
            </p>
            <div class="event-meta mb-2">
              <p class="card-text"><small>Start Time: {{ activity.startTime | date:'short' }}</small></p>
              <p class="card-text"><small>End Time: {{ activity.finishTime | date:'short' }}</small></p>
            </div>
            <p class="card-text">
              <i class="fas fa-tag"></i>
              {{ getEventName(activity) }}
            </p>
          </div>
          <div class="card-footer bg-white d-flex justify-content-around align-items-center">

            <button type="button" class="btn btn-edit btn-sm mx-1" (click)="openUpdateModal(activity)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
              Edit
            </button>

            <button class="btn btn-delete btn-sm mx-1" (click)="askDeleteConfirmation(activity.activity_id)" style="color: var(--color-bright-orange);">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination controls -->
  <div class="paginator-container">
    <button class="paginator-button"
            [disabled]="currentPage === 0"
            (click)="previousPage()">
      Previous
    </button>

    <!-- Angular Material Paginator -->
    <mat-paginator [length]="totalActivities"
                   [pageSize]="pageSize"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="[6, 9, 12]"
                   (page)="changePage($event)"
                   showFirstLastButtons>
    </mat-paginator>

    <button class="paginator-button"
            [disabled]="currentPage >= (totalActivities / pageSize) - 1"
            (click)="nextPage()">
      Next
    </button>
  </div>


  <!-- Modal d'ajout d'activité -->
  <div #myModal  class="modal fade" id="addActivityModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">New Activity</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulaire d'ajout d'activité -->
          <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="activity_name">Activity Name:</label>
              <input type="text" class="form-control" id="activity_name" formControlName="activity_name" required>
              <div *ngIf="activityForm.get('activity_name')?.touched && activityForm.get('activity_name')?.invalid" class="text-danger">
                Activity Name is required.
              </div>

            </div>

            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" formControlName="description" required></textarea>
              <div *ngIf="activityForm.get('description')?.hasError('required') && activityForm.get('description')?.touched" class="text-danger">
                Description is required.
              </div>
            </div>

            <div class="form-group">
              <label for="startTime">Start Time:</label>
              <input type="datetime-local" class="form-control" id="startTime" formControlName="startTime" required>
              <div *ngIf="activityForm.get('startTime')?.hasError('required') && activityForm.get('startTime')?.touched " class="text-danger">
                Start Time is required.
              </div>
            </div>

            <div class="form-group">
              <label for="finishTime">Finish Time:</label>
              <input type="datetime-local" class="form-control" id="finishTime" formControlName="finishTime" required>
              <div *ngIf="activityForm.get('finishTime')?.hasError('required') && activityForm.get('finishTime')?.touched" class="text-danger">
                Finish Time is required.
              </div>
            </div>
            <div *ngIf="shouldShowDateRangeError()" class="text-danger">
              The start time must be before the finish time.
            </div>

            <div class="form-group">
              <label for="event">Event:</label>
              <select class="form-control" id="event" formControlName="event" required>
                <option *ngFor="let event of events" [ngValue]="event" [selected]="event.eventId === activityForm.get('event')?.value?.event_id" >{{ event.event_name }}</option>
              </select>
            </div>






            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!activityForm.valid" (click)="onSubmit()">Add Activity</button>
            </div>
          </form>
        </div>

      </div>
    </div>
    <!-- Update Activity Modal -->
    <ng-template #updateModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="updateActivityModalLabel">Update Activity</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateActivityForm" (ngSubmit)="onSubmitUpdate()">
          <!-- Activity Name -->
          <div class="form-group">
            <label for="activity_name">Activity Name:</label>
            <input type="text" class="form-control" id="activity_name" formControlName="activity_name">
          </div>
          <!-- Description -->
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>
          <!-- Start Time -->
          <div class="form-group">
            <label for="startTime">Start Time:</label>
            <input type="datetime-local" class="form-control" id="startTime" formControlName="startTime">
          </div>
          <!-- Finish Time -->
          <div class="form-group">
            <label for="finishTime">Finish Time:</label>
            <input type="datetime-local" class="form-control" id="finishTime" formControlName="finishTime">
          </div>
          <!-- Event -->
          <div class="form-group">
            <label for="event">Event:</label>
            <select class="form-control" id="event" formControlName="event">
              <option *ngFor="let event of events" [ngValue]="event">{{ event.event_name }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </ng-template>
