<h2 mat-dialog-title>Edit Quiz Question</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Question</mat-label>
      <input matInput [(ngModel)]="question.question" name="question" required>
    </mat-form-field>
    <div *ngFor="let option of question.options; let i = index">
      <mat-form-field>
        <mat-label>Option {{ i + 1 }}</mat-label>
        <input matInput [(ngModel)]="option.answer" name="option{{ i }}" required>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="option.correct">Correct Answer</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" [disabled]="isFormInvalid()" (click)="submitQuestion()">Save</button>
</mat-dialog-actions>
