.pdf-content {
    width: 100%; /* Largeur maximale du contenu */
    padding: 20px; /* Marge intérieure */
  }
  
  /* Styles pour le tableau */
  .pdf-content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pdf-content th, .pdf-content td {
    border: 1px solid #000; /* Bordures */
    padding: 8px;
  }
  
  /* Styles pour les éléments d'adresse */
  .pdf-content address {
    margin-bottom: 20px;
  }
  .btn-add-activity {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #08718e;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0;
  }
  .btn-calender {
    position: fixed;
    right: 100px;
    bottom: 20px;
    background-color: #75c0ae;
    color: white;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 50px; /* Adjust width to match the Excel button */
    height: 50px; /* Adjust height to match the Excel button */
    font-size: 2rem; /* Adjust font-size if the plus is text */
    line-height: 50px; /* Center the plus vertically if it's text */
    text-align: center; /* Center the plus horizontally */
    padding: 0; /* Adjust or remove padding if necessary */
  }
  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-wrapper button {
    width: 50px; /* Ajustez la largeur des boutons selon vos besoins */
    height: 50px; /* Ajustez la hauteur des boutons selon vos besoins */
    font-size: 24px; /* Ajustez la taille de la police des boutons selon vos besoins */
}

  .btn-add-activity:hover {
    background-color: #fa7022;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    filter: brightness(85%);
  }
  .btn-calender:hover {
    background-color: #17C490; /* Darken button color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
    transform: translateY(-3px); /* Move button up slightly on hover */
  }
  .btn-add-activityy{
    position: fixed;
    right: 180px;
    bottom: 20px;
    background-color: #08718e;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 4px;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0;
  }
  .btn-add-activityyy{
    position: fixed;
    right: 260px;
    bottom: 20px;
    background-color: #08718e;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 4px;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0;

  }
  .mat-column-select {
    overflow: initial;
  }