


<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
rel="stylesheet">
</head>
<div class="content-wrapper">
    <div class="content" >			
        		<div class="invoice-wrapper rounded bg-white py-5 px-3 px-md-4 px-lg-5 mb-6">
                    
                  <div class="d-flex justify-content-between buttons-wrapper" >
                      <h2 class="text-dark font-weight-medium">Invoice #264648</h2>
                      <div class="btn-group" >
                        <div class="col">
                          <button mat-raised-button  matTooltip="ExportToPdf" class="btn-add-activity" data-bs-toggle="modal" data-bs-target="#addEventModal" style="background-color:#049565 ;" (click)="exportToPdf()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                                <path d="M5.523 12.424q.21-.124.459-.238a8 8 0 0 1-.45.606c-.28.337-.498.516-.635.572l-.035.012a.3.3 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647q-.178.037-.356.078a21 21 0 0 0 .5-1.05 12 12 0 0 0 .51.858q-.326.048-.654.114m2.525.939a4 4 0 0 1-.435-.41q.344.007.612.054c.317.057.466.147.518.209a.1.1 0 0 1 .026.064.44.44 0 0 1-.06.2.3.3 0 0 1-.094.124.1.1 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 6.97c-.04.244-.108.524-.2.829a5 5 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.5.5 0 0 1 .145-.04c.013.03.028.092.032.198q.008.183-.038.465z"/>
                                <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.7 11.7 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.86.86 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.84.84 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.8 5.8 0 0 0-1.335-.05 11 11 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.24 1.24 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a20 20 0 0 1-1.062 2.227 7.7 7.7 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103"/>
                              </svg></button></div>
                              <div class="col"> 
                          <button mat-raised-button  matTooltip="ExportToExcel" class=" btn-calender" data-bs-toggle="modal" data-bs-target="#calendarModal"style="background-color:#049565 ;" (click)="exportToExcel()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                              <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                            </svg></button></div>

                           
                                <button mat-raised-button
                                        matTooltip="Add Item" class="btn-add-activityy" data-bs-toggle="modal" data-bs-target="#addEventModal"  style="background-color: #049565; color: white;" (click)="createNewItem()" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                          </svg>
                                </button>        
                      </div>


                  </div>
                  <div id="contentToExport" >
                  <div class="row pt-5">
                      <div class="col-xl-3 col-lg-4">
                          <p class="text-dark mb-2">From</p>
                          <address>
                              CoConsult
                              <br> Tunisie, Ariana Soghra, WP9M 3ZZ
                              <br> Email: Coconsult@gmail.com
                              <br> Phone: +216 95 392 119
                          </address>
                      </div>
                      <div class="col-xl-3 col-lg-4">
                          <p class="text-dark mb-2">To</p>
                          <address>
                              Company Name
                              <br> 58 Jamie Ways, North Faye, Q5 5ZP
                              <br> Email: example@gmail.com
                              <br> Phone: +91 5264 521 943
                          </address>
                      </div>
                      <div class="col-xl-3 col-lg-4">
                          <p class="text-dark mb-2">Details</p>
                          <address >
                              Project Name:
                              <span class="text-dark">{{ invoices[0]?.projetInvoice?.projectName }}</span> 
                              <br> <span class="text-dark">{{ invoices[0]?.projetInvoice?.startdateProject | date:'mediumDate' }}</span> 
                          </address>
                      </div>
      </div>
      <div id="dataTable" class="table-responsive">
        <div class="mat-elevation-z8">
        <table  matSort (matSortChange)="sortData($event)"  class="table mt-3 table-striped" style="width:100%" >
          
 <thead>
            <tr>
              <th >#</th>
              <th >Item</th>
              <th>Description</th>
              <th mat-sort-header="quantity">Quantity</th>
              <th mat-sort-header="unitPrice">Unit Cost</th>
              <th mat-sort-header="totalAmount">Total</th>
              <th ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of getDisplayedProjects(); let i = index;" (click)="onRowClick(invoice)"style="cursor: pointer;">

              <td>{{ i + 1 }}</td>
              <td>{{ invoice.item }}</td>
              <td>{{ invoice.invoiceDescription }}</td>
              <td>{{ invoice.quantity }}</td>
              <td>{{ invoice.unitPrice | currency }}</td>
              <td>{{ invoice.totalAmount | currency }}</td>
              <td >
                <button mat-icon-button style=" color: #fb6d1c"*ngIf="selectedInvoice === invoice" (click)="EditItem()">
                <mat-icon *ngIf="showEditIcon(invoice)">edit</mat-icon>
              </button>
            </td>
              
              
            </tr>
          </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[3, 5, 7]"
        showFirstLastButtons
        >
</mat-paginator>
    </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-lg-5 col-xl-4 col-xl-3 ml-sm-auto">
          <ul class="list-unstyled mt-4">
            <li class="mid pb-3 text-dark"> Subtotal
              <span class="d-inline-block float-right text-default">{{ calculateSubtotal() | currency }}</span>
            </li>
            <li class="mid pb-3 text-dark">VAT (10%)
              <span class="d-inline-block float-right text-default">{{ calculateVat() | currency }}</span>
            </li>
            <li class="pb-3 text-dark">Total
              <span class="d-inline-block float-right">{{ calculateTotal() | currency }}</span>
            </li>
            <li class="pb-3 text-dark">
                <button class="btn btn-link" >EUR</button>
                <button class="btn btn-link" >USD</button>
                <button class="btn btn-link" >TND</button>
              </li>
             
          </ul>
        </div>
        </div>
        
    </div>
    <a  class="btn btn-block mt-2 btn-lg btn-primary btn-pill" style="background-color: #fb6d1c; border-color: #fb6d1c; margin-left: 999px" (click)="onSendEmail()"> Envoyer</a>
  </div>
      </div>
    </div>
